<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Pooling" value="Data Source=.; Initial Catalog=BD_Granel;Integrated Security=true; Max Pool Size=10; Min Pool Size=10;"/>
    <add key="NoPooling" value="Data Source=.; Initial Catalog=BD_Granel;Integrated Security=true; Pooling=false;"/>
  </appSettings>
  <connectionStrings>
    <add name="PruebaCache"
         connectionString="Data Source=.; Initial Catalog=BD_Granel; Integrated Security=true; User Instance = true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <caching>
      <sqlCacheDependency enabled = "true" pollTime = "60000" >
        <databases>
          <add name="BD_Granel"
            connectionStringName="PruebaCache"
            pollTime="9000000"
            />
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
</configuration>