<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PruebaPersona" 
         connectionString="Data Source=.; database=BD_Granel; Integrated Security=SSPI" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <caching>
      <sqlCacheDependency pollTime="2000" enabled="true">
        <databases>
          <add name="BD_Granel" connectionStringName="PruebaPersona"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <compilation debug="true"/>
  </system.web>

</configuration>